<!DOCTYPE html>
<html>
<head>
    <title>
       JSON
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body style="text-align:center;" id="body">
 
    <h1> send JSON </h1>

    <p> 
        <input type="text" id="number" placeholder="Your number">
        <button onclick="sendJSON()">Send</button>
        <p class="result" style="color:blue"></p>
    </p>
</body>

<script>
    function sendJSON() {

      let number = document.querySelector('#number');
      let result = document.querySelector('.result');
      let xhr = new XMLHttpRequest();
      let url = "http://127.0.0.1:8000/api/example";
      xhr.open("POST", url, true);
     
      xhr.setRequestHeader("Content-Type", "application/json");

      xhr.onreadystatechange = function () {

        if (xhr.readyState === 4 && xhr.status === 200) {
          result.innerHTML = this.responseText;
        }
        else if (xhr.status === 400){
          result.innerHTML = "Bad request";
        }
      };
      var data = JSON.stringify({"input_value": number.value });
      xhr.send(data);
    }
  </script>
</html>
