<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Grechka best</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<body>
<header class="pageHeader">
  <h1 class="text_h1">
    GRECHKA BEST
  </h1>
<article class="mainArticle  text_style">
    <div class="table">
      {% block content %}{% endblock %}
    </div>
    <span>
      * - ціна зі знижкою 
    </span>
</article>
<nav class="mainVoid"></nav>
<footer class="pageFooter text_style">2021 &copy; Всі права захищені </footer>
</body>

</html>